name: Update README

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  update-readme:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Setup Typst
        uses: typst-community/setup-typst@v2
        with:
          version: "latest"

      - name: Install Fonts
        run: |
          # Noto Serif CJK
          mkdir -p ../fonts/noto-cjk
          wget -O noto-serif-cjk.zip "https://github.com/notofonts/noto-cjk/releases/download/Serif2.003/04_NotoSerifCJKOTC.zip"
          unzip -o noto-serif-cjk.zip -d ../fonts/noto-cjk
          rm noto-serif-cjk.zip

          # Noto Sans CJK
          mkdir -p ../fonts/noto-cjk
          wget -O noto-sans-cjk.zip "https://github.com/notofonts/noto-cjk/releases/download/Sans2.004/03_NotoSansCJK-OTC.zip"
          unzip -o noto-sans-cjk.zip -d ../fonts/noto-cjk
          rm noto-sans-cjk.zip

          # Noto Sans
          mkdir -p ../fonts/noto-sans
          wget -O noto-sans.zip "https://font.download/dl/font/noto-sans.zip"
          unzip -o noto-sans.zip -d ../fonts/noto-sans
          rm noto-sans.zip

          # Buenard
          mkdir -p ../fonts/buenard
          wget --referer="https://www.1001freefonts.com" https://www.1001freefonts.com/d/77248/buenard.zip
          unzip -o buenard.zip -d ../fonts/buenard
          rm buenard.zip

      - name: List Typst Fonts
        run: typst fonts --font-path ../fonts

      - name: Generate README
        run: python generate_readme.py

      - name: Commit and push changes
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add . -f
          git commit -m "Update README files" || echo "No changes to commit"
          git push
